{%extends 'userlist.html'%}
{%block title%}Add a User{%endblock%}
{%block content%}
<h1>Create a new User</h1>
<div>
{%include 'messages.html'%}

<form action="/users/add" method="POST">
    <label for="first_name">First Name</label><br>
    <input type="text" name="first_name" id="first_name" placeholder="Enter a First Name" ><br>
    <label for="last_name">Last Name</label><br>
    <input type="text" name="last_name" id="last_name" placeholder="Enter a Last Name" required><br>
    <label for="img_url">Image URL</label><br>
    <input type="url" name="img_url" id="img_url" placeholder="Enter a URL"><br>
    <button>Add</button>
</form>
</div>
{%endblock%}