{% extends 'userlist.html' %}
{% block title %} Add a new post {% endblock %}

{% block content %}
<h1>Add a new Post</h1>
{%include 'messages.html'%}
<form action="/users/{{user.id}}/posts/new" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Post Title" required>
    <label for="content">Post Content</label>
    <input type="text" name="content" required>
    <button>Add Post</button>
    <h3>Tags</h3>
    <ul>
    {%for tag in tags%}
    <li>
    <input type="checkbox" name='tag_name' value="{{tag.id}}">
    <label for="tag_name">{{tag.tag_name}}</label>
    </li>
    {%endfor%}
    </ul>
</form>
{% endblock %}