{% extends 'userlist.html' %}
{%block title%}{{post.title}}{%endblock%}

{%block content%}
<h1>{{post.title}}</h1>
<h4>Posted by: {{user.first_name}} {{user.last_name}} on {{post.created_at.month}}/{{post.created_at.day}}/{{post.created_at.year}} at {{post.created_at.hour}}:{{post.created_at.minute}}.</h4>
<p>{{post.content}}</p>
<ul>
    {%for tag in post_tags%}
    <li>{{tag.tag.tag_name}}</li>
    {%endfor%}
</ul>
<form action="/posts/posts/{{post.id}}/edit">
    <button>Edit</button>
</form>
<form action="/{{post.id}}/delete" method="POST">
    <button>Delete</button>
</form>
<form action="/">
    <button>Go home</button>
</form>
{%endblock%}