<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %} Document {% endblock %}</title>
</head>
<body>
    {% if session['username'] %}
    <p><a href='/logout'>Log Out</a></p>
    {% endif %}
    {% block content %}
    <h1>Demo Main Page</h1>
    <h3>Is there anything here? Who Knows!!</h3>
    {%for user in users%}
    <ul>
        <li>{{user.username}}</li>
        <li>{{user.password}}</li>
        <li>{{user.email}}</li>
        <li>{{user.first_name}}</li>
        <li>{{user.last_name}}</li>
    </ul>
    {% endfor %}
    <h4>Register or Log in</h4>
    <form action="/register">
        <button type="submit">Register</button>
    </form>
    <form action="/login">
        <button type="submit">Log In</button>
    </form>
    {% endblock %}
</body>
</html>