body {
    background-color: #636c6e
}

#amount {
    margin-left: 58px;
}

#c_to {
    margin-left: 18px;
}

h1 {
    color:#000000
}

label {
    color: #000000
}

input {
    background-color: #a86234;
    box-shadow: 2px 2px 3px #a86234
}

p {
    color: #000000
}

button {
    background-color: #7aa39a;
    color: #000000;
    box-shadow: 3px 3px 3px #929292
}